<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for_in标签</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>作者</th>
        </tr>
    </thead>
    <tbody>
        {% for book in ref_books %}
        	<tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
            </tr>
        {% empty %}
            <tr>空</tr>
        {% endfor %}
    </tbody>
</table>
<div>
    {% for key,value in person.items %}
        <p>{{ key }}:{{ value }}</p>
    {% endfor %}
</div>
</body>
</html>